#viewPort{
    height:720px;
    margin:0px;
    background-color: black;
    display: flex;
    width:100%;
}
#stats{
    background-color: lightgray;
    width:50%;
}
#customer_view{
    background-color: #5bacdf;
    width:50%;
}
#customer_view div{
    margin:0 auto;
}

table, th, td {
    border: 1px solid black;
    border-radius:20px;
    text-align:center;
}
th, td {
    padding: 5px;
    text-align: left;
}
.divcenter{
  display:inline-block;
  padding:20px;
}
.customer_view{
  font-size:20px;
   text-align:center;
   border:solid 5px black;
   padding:20px;
   border-radius:30px
}

input[type='button'] {
  background-color: #4CAF50; /* Green */
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.withdraw{
  color:White;
  background-color: RED;
}
